In [1]:
import pymysql
import requests
import pandas as pd
import numpy as np

### Genera un df con el archivo `csv` "D_LABITEMS"

In [3]:
df = pd.read_csv('C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\D_LABITEMS.csv', encoding='UTF-8', delimiter=',', decimal='.')
df.head(3)

   row_id  itemid                       label  fluid   category loinc_code
0       1   50800               SPECIMEN TYPE  BLOOD  BLOOD GAS        NaN
1       2   50801  Alveolar-arterial Gradient  Blood  Blood Gas    19991-9
2       3   50802                 Base Excess  Blood  Blood Gas    11555-0

In [4]:
df = df.replace(np.nan, 0)

### Inserta los registros del df "D_LABITEMS" en la BD

In [ ]:
con = pymysql.connect(
      host='database-proyecto-final.cpjrl88bhdul.us-east-1.rds.amazonaws.com',
      database='databaseuci',
      user='admin',
      password='datascience'
)

### Se conecta con la BD MySQL AWS

In [5]:
sql_insert = ''' INSERT 
                   INTO  D_LABITEMS
                         (row_id, itemid, label, fluid, category, loinc_code)
                 VALUES  (%s, %s, %s, %s, %s, %s) '''
num_reng = 0
cursor = con.cursor()
for i in range(0, len(df)):
    row = int(df.loc[i, 'row_id'])
    itid = int(df.loc[i, 'itemid'])
    labl = df.loc[i, 'label']
    flid = df.loc[i, 'fluid']
    catg = df.loc[i, 'category']
    locd = df.loc[i, 'loinc_code']
    reg_s = (row, itid, labl, flid, catg, locd)
    cursor.execute(sql_insert, reg_s)
    num_reng += 1
    if num_reng == 100:
        con.commit()
        num_reng = 0

### Confirma la inserci√≥n de los registros a la BD

In [6]:
con.commit()

### Cierra el cursor y la conexion a la BD

In [7]:
cursor.close()
con.close()