In [26]:
import pymysql
import requests
import pandas as pd
import numpy as np

### Se conecta con la BD MySQL AWS

In [27]:
con = pymysql.connect(
      host='database-proyecto-final.cpjrl88bhdul.us-east-1.rds.amazonaws.com',
      database='databaseuci',
      user='admin',
      password='datascience'
)

### Genera un df con el archivo `csv` "D_ITEMS"

In [28]:
df = pd.read_csv('C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\D_ITEMS.csv', encoding='UTF-8', delimiter=',', decimal='.')
df.head(3)

,row_id,itemid,label,abbreviation,dbsource,linksto,category,unitname,param_type,conceptid
0,1,1435,Sustained Nystamus,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,2,1436,Tactile Disturbances,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,3,1437,Tremor,NaN,carevue,chartevents,NaN,NaN,NaN,NaN

In [29]:
df = df.replace(np.nan, 0)

### Inserta los registros del df "D_ITEMS" en la BD

In [30]:
sql_insert = ''' INSERT 
                   INTO  D_ITEMS
                         (row_id, itemid, label, abbreviation, dbsource, linksto, category, unitname, param_type, conceptid)
                 VALUES  (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s) '''
num_reng = 0
cursor = con.cursor()
for i in range(0, len(df)):
    row = int(df.loc[i, 'row_id'])
    itid = int(df.loc[i, 'itemid'])
    labl = df.loc[i, 'label']
    abbr = df.loc[i, 'abbreviation']
    dbsr = df.loc[i, 'dbsource']
    lkto = df.loc[i, 'linksto']
    catg = df.loc[i, 'category']
    utnm = df.loc[i, 'unitname']
    prtp = df.loc[i, 'param_type']
    cpid = int(df.loc[i, 'conceptid'])
    reg_s = (row, itid, labl, abbr, dbsr, lkto, catg, utnm, prtp, cpid)
    cursor.execute(sql_insert, reg_s)
    num_reng += 1
    if num_reng == 100:
        con.commit()
        num_reng = 0

### Confirma la inserción de los registros a la BD

In [31]:
con.commit()

OperationalError: (2013, 'Lost connection to MySQL server during query ([WinError 10060] Se produjo un error durante el intento de conexión ya que la parte conectada no respondió adecuadamente tras un periodo de tiempo, o bien se produjo un error en la conexión establecida ya que el host conectado no ha podido responder)')

### Cierra el cursor y la conexion a la BD

In [32]:
cursor.close()
con.close()