In [1]:
import pymysql
import requests
import pandas as pd
import numpy as np

### Genera un df con el archivo `csv` "DIAGNOSES_ICD"

In [3]:
df = pd.read_csv('C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\DIAGNOSES_ICD.csv', encoding='UTF-8', delimiter=',', decimal='.')
df.head(3)

   row_id  subject_id  hadm_id  seq_num icd9_code
0  112344       10006   142345        1     99591
1  112345       10006   142345        2     99662
2  112346       10006   142345        3      5672

In [4]:
df = df.replace(np.nan, 0)

### Se conecta con la BD MySQL AWS

In [ ]:
con = pymysql.connect(
      host='database-proyecto-final.cpjrl88bhdul.us-east-1.rds.amazonaws.com',
      database='databaseuci',
      user='admin',
      password='datascience'
)

### Inserta los registros del df "DIAGNOSES_ICD" en la BD

In [5]:
sql_insert = ''' INSERT 
                   INTO  DIAGNOSES_ICD
                         (row_id, subject_id, hadm_id, seq_num, icd9_code)
                 VALUES  (%s, %s, %s, %s, %s) '''
num_reng = 0
cursor = con.cursor()
for i in range(0, len(df)):
    row = int(df.loc[i, 'row_id'])
    sbid = int(df.loc[i, 'subject_id'])
    hadm = int(df.loc[i, 'hadm_id'])
    sqnm = int(df.loc[i, 'seq_num'])
    icd9 = df.loc[i, 'icd9_code']
    reg_s = (row, sbid, hadm, sqnm, icd9)
    cursor.execute(sql_insert, reg_s)
    num_reng += 1
    if num_reng == 100:
        con.commit()
        num_reng = 0

### Confirma la inserci√≥n de los registros a la BD

In [6]:
con.commit()

### Cierra el cursor y la conexion a la BD

In [7]:
cursor.close()
con.close()