In [17]:
import pymysql
import requests
import pandas as pd
import numpy as np

### Genera un df con el archivo csv "OUTPUTEVENTS"

In [19]:
df = pd.read_csv('C:\\Users\\cfari\OneDrive\\Escritorio\\PF_GRUPAL\\DATASET\\OUTPUTEVENTS.csv', encoding='UTF-8', delimiter=',', decimal='.')
df.head(3)

,row_id,subject_id,hadm_id,icustay_id,charttime,itemid,value,valueuom,storetime,cgid,stopped,newbottle,iserror
0,6540,10114,167957,234989.0,2171-10-30 20:00:00,40055,39.0,ml,2171-10-30 20:38:00,15029,NaN,NaN,NaN
1,6541,10114,167957,234989.0,2171-10-30 21:00:00,40055,35.0,ml,2171-10-30 21:18:00,15029,NaN,NaN,NaN
2,6542,10114,167957,234989.0,2171-10-30 23:00:00,40055,100.0,ml,2171-10-30 23:31:00,15029,NaN,NaN,NaN

In [20]:
df = df.replace(np.nan, 0)

### Se conecta con la BD MySQL

In [ ]:
con = pymysql.connect(
      host='database-proyecto-final.cpjrl88bhdul.us-east-1.rds.amazonaws.com',
      database='databaseuci',
      user='admin',
      password='datascience'
)

### Inserta los registros del df "OUTPUTEVENTS" en la BD

In [21]:
sql_insert = ''' INSERT 
                   INTO  OUTPUTEVENTS
                         (row_id,subject_id,hadm_id,icustay_id,charttime,itemid,value,valueuom,storetime,cgid,stopped,newbottle,iserror)
                 VALUES  (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) '''
cursor = con.cursor()
for i in range(0, len(df)):
    row = int(df.loc[i, 'row_id'])
    subj = int(df.loc[i, 'subject_id'])
    hadm = int(df.loc[i, 'hadm_id'])
    icus = int(df.loc[i, 'icustay_id'])
    cht = df.loc[i, 'charttime']
    itd  = int(df.loc[i, 'itemid'])
    val = float(df.loc[i, 'value'])
    vlm = df.loc[i, 'valueuom']
    stm = df.loc[i, 'storetime']
    cgi = int(df.loc[i, 'cgid'])
    stp = df.loc[i, 'stopped']
    nbt = int(df.loc[i, 'newbottle'])
    isr = int(df.loc[i, 'iserror'])
    reg_s = (row, subj, hadm, icus, cht, itd, val, vlm, stm, cgi, stp, nbt, isr)
    cursor.execute(sql_insert, reg_s)
#cursor.fetchone()

### Confirma la inserción de los registros a la BD

In [22]:
con.commit()

### Cierra el cursor y la conexión a la BD

In [23]:
cursor.close()
con.close()