In [3]:
import pymysql
import requests
import pandas as pd
import numpy as np

### Genera un df con el archivo csv "PROCEDURES_ICD"

In [5]:
df = pd.read_csv('C:\\Users\\cfari\OneDrive\\Escritorio\\PF_GRUPAL\\DATASET\\PROCEDURES_ICD.csv', encoding='UTF-8', delimiter=',', decimal='.')
df.head(3)

   row_id  subject_id  hadm_id  seq_num  icd9_code
0    3994       10114   167957        1       3605
1    3995       10114   167957        2       3722
2    3996       10114   167957        3       8856

In [6]:
df = df.replace(np.nan, 0)

### Se conecta con la BD MySQL

In [ ]:
con = pymysql.connect(
      host='database-proyecto-final.cpjrl88bhdul.us-east-1.rds.amazonaws.com',
      database='databaseuci',
      user='admin',
      password='datascience'
)

### Inserta los registros del df "PROCEDURES_ICD" en la BD

In [7]:
sql_insert = ''' INSERT 
                   INTO  PROCEDURES_ICD
                         (row_id,subject_id,hadm_id,seq_num,icd9_code)
                 VALUES  (%s, %s, %s, %s, %s) '''
cursor = con.cursor()
for i in range(0, len(df)):
    row = int(df.loc[i, 'row_id'])
    subj = int(df.loc[i, 'subject_id'])
    hadm = int(df.loc[i, 'hadm_id'])
    seq = int(df.loc[i, 'seq_num'])
    ic9 = df.loc[i, 'icd9_code']
    reg_s = (row, subj, hadm, seq, ic9)
    cursor.execute(sql_insert, reg_s)
#cursor.fetchone()

### Confirma la inserción de los registros a la BD

In [8]:
con.commit()

### Cierra el cursor y la conexión a la BD

In [9]:
cursor.close()
con.close()