In [1]:
import pymysql
import requests
import pandas as pd
import numpy as np

### Genera un df con el archivo csv "ICUSTAYS"

In [3]:
df = pd.read_csv('C:\\Users\\cfari\OneDrive\\Escritorio\\PF_GRUPAL\\DATASET\\ICUSTAYS.csv', encoding='UTF-8', delimiter=',', decimal='.')
df.head(3)

,row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los
0,12742,10006,142345,206504,carevue,MICU,MICU,52,52,2164-10-23 21:10:15,2164-10-25 12:21:07,1.6325
1,12747,10011,105331,232110,carevue,MICU,MICU,15,15,2126-08-14 22:34:00,2126-08-28 18:59:00,13.8507
2,12749,10013,165520,264446,carevue,MICU,MICU,15,15,2125-10-04 23:38:00,2125-10-07 15:13:52,2.6499

In [4]:
df = df.replace(np.nan, 0)

### Se conecta con la BD MySQL

In [ ]:
con = pymysql.connect(
      host='database-proyecto-final.cpjrl88bhdul.us-east-1.rds.amazonaws.com',
      database='databaseuci',
      user='admin',
      password='datascience'
)

### Inserta los registros del df "ICUSTAYS" en la BD

In [5]:
sql_insert = ''' INSERT 
                   INTO  ICUSTAYS
                         (row_id,subject_id,hadm_id,icustay_id,dbsource,first_careunit,last_careunit,first_wardid,last_wardid,intime,outtime,los)
                 VALUES  (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) '''
cursor = con.cursor()
for i in range(0, len(df)):
    row = int(df.loc[i, 'row_id'])
    subj = int(df.loc[i, 'subject_id'])
    hadm = int(df.loc[i, 'hadm_id'])
    icus = int(df.loc[i, 'icustay_id'])
    dbc = df.loc[i, 'dbsource']
    fic = df.loc[i, 'first_careunit']
    lsc = df.loc[i, 'last_careunit']
    fiw = int(df.loc[i, 'first_wardid'])
    law = int(df.loc[i, 'last_wardid'])
    inm = df.loc[i, 'intime']
    out = df.loc[i, 'outtime']
    los = float (df.loc[i, 'los'])
    reg_s = (row, subj, hadm, icus, dbc, fic, lsc, fiw, law, inm, out, los)
    cursor.execute(sql_insert, reg_s)
#cursor.fetchone()

### Confirma la inserci√≥n de los registros a la BD

In [6]:
con.commit()

### Cierra el cursor y la conexion a la BD

In [7]:
cursor.close()
con.close()