In [1]:
import pymysql
import requests
import pandas as pd
import numpy as np

### Genera un df con el archivo csv "LABEVENTS"

In [3]:
df = pd.read_csv('C:\\Users\\cfari\OneDrive\\Escritorio\\PF_GRUPAL\\DATASET\\LABEVENTS.csv', encoding='UTF-8', delimiter=',', decimal='.')
df.head(3)

,row_id,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,flag
0,6244563,10006,NaN,50868,2164-09-24 20:21:00,19,19.0,mEq/L,NaN
1,6244564,10006,NaN,50882,2164-09-24 20:21:00,27,27.0,mEq/L,NaN
2,6244565,10006,NaN,50893,2164-09-24 20:21:00,10.0,10.0,mg/dL,NaN

In [4]:
df = df.replace(np.nan, 0)

### Se conecta con la BD MySQL

In [ ]:
con = pymysql.connect(
      host='database-proyecto-final.cpjrl88bhdul.us-east-1.rds.amazonaws.com',
      database='databaseuci',
      user='admin',
      password='datascience'
)

### Inserta los registros del df "LABEVENTS" en la BD

In [5]:
sql_insert = ''' INSERT 
                   INTO  LABEVENTS
                         (row_id,subject_id,hadm_id,itemid,charttime,value,valuenum,valueuom,flag)
                 VALUES  (%s, %s, %s, %s, %s, %s, %s, %s, %s) '''
cursor = con.cursor()
for i in range(0, len(df)):
    row = int(df.loc[i, 'row_id'])
    subj = int(df.loc[i, 'subject_id'])
    hadm = int(df.loc[i, 'hadm_id'])
    itd = int(df.loc[i, 'itemid'])
    cht = df.loc[i, 'charttime']
    val = df.loc[i, 'value']
    vlm = float(df.loc[i, 'valuenum'])
    vlu = df.loc[i, 'valueuom']
    flg = df.loc[i, 'flag']
    reg_s = (row, subj, hadm, itd, cht, val, vlm, vlu, flg)
    cursor.execute(sql_insert, reg_s)
#cursor.fetchone()

### Confirma la inserción de los registros a la BD

In [19]:
con.commit()

### Cierra el cursor y la conexión a la BD

In [ ]:
cursor.close()
con.close()