In [1]:
import pymysql
import requests
import pandas as pd
import numpy as np

### Genera un df con el archivo csv "SERVICES"

In [3]:
df = pd.read_csv('C:\\Users\\cfari\OneDrive\\Escritorio\\PF_GRUPAL\\DATASET\\SERVICES.csv', encoding='UTF-8', delimiter=',', decimal='.')
df.head(3)

   row_id  subject_id  hadm_id         transfertime prev_service curr_service
0   14974       10006   142345  2164-10-23 21:10:15          NaN          MED
1   14979       10011   105331  2126-08-14 22:34:00          NaN          MED
2   14981       10013   165520  2125-10-04 23:38:00          NaN          MED

In [4]:
df = df.replace(np.nan, 0)

### Se conecta con la BD MySQL

In [ ]:
con = pymysql.connect(
      host='database-proyecto-final.cpjrl88bhdul.us-east-1.rds.amazonaws.com',
      database='databaseuci',
      user='admin',
      password='datascience'
)

### Inserta los registros del df "SERVICES" en la BD

In [5]:
sql_insert = ''' INSERT 
                   INTO  SERVICES
                         (row_id,subject_id,hadm_id,transfertime,prev_service,curr_service)
                 VALUES  (%s, %s, %s, %s, %s, %s) '''
cursor = con.cursor()
for i in range(0, len(df)):
    row = int(df.loc[i, 'row_id'])
    subj = int(df.loc[i, 'subject_id'])
    hadm = int(df.loc[i, 'hadm_id'])
    tft = df.loc[i, 'transfertime']
    prs = df.loc[i, 'prev_service']
    cus = df.loc[i, 'curr_service']
    reg_s = (row, subj, hadm, tft, prs, cus)
    cursor.execute(sql_insert, reg_s)
#cursor.fetchone()

### Confirma la inserción de los registros a la BD

In [7]:
con.commit()

### Cierra el cursor y la conexión a la BD

In [8]:
cursor.close()
con.close()