In [1]:
import pymysql
import requests
import pandas as pd
import numpy as np

### Genera un df con el archivo csv "MICROBIOLOGYEVENTS"

In [3]:
df = pd.read_csv('C:\\Users\\cfari\OneDrive\\Escritorio\\PF_GRUPAL\\DATASET\\MICROBIOLOGYEVENTS.csv', encoding='UTF-8', delimiter=',', decimal='.')
df.head(3)

,row_id,subject_id,hadm_id,chartdate,charttime,spec_itemid,spec_type_desc,org_itemid,org_name,isolate_num,ab_itemid,ab_name,dilution_text,dilution_comparison,dilution_value,interpretation
0,134694,10006,142345,2164-10-23 00:00:00,2164-10-23 15:30:00,70012,BLOOD CULTURE,80155.0,"STAPHYLOCOCCUS, COAGULASE NEGATIVE",2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,134695,10006,142345,2164-10-23 00:00:00,2164-10-23 15:30:00,70012,BLOOD CULTURE,80155.0,"STAPHYLOCOCCUS, COAGULASE NEGATIVE",1.0,90015.0,VANCOMYCIN,2,=,2.0,S
2,134696,10006,142345,2164-10-23 00:00:00,2164-10-23 15:30:00,70012,BLOOD CULTURE,80155.0,"STAPHYLOCOCCUS, COAGULASE NEGATIVE",1.0,90012.0,GENTAMICIN,<=0.5,<=,1.0,S

In [4]:
df = df.replace(np.nan, 0)

### Se conecta con la BD MySQL

In [ ]:
con = pymysql.connect(
      host='database-proyecto-final.cpjrl88bhdul.us-east-1.rds.amazonaws.com',
      database='databaseuci',
      user='admin',
      password='datascience'
)

### Inserta los registros del df "MICROBIOLOGYEVENTS" en la BD

In [5]:
sql_insert = ''' INSERT 
                   INTO  MICROBIOLOGYEVENTS
                         (row_id,subject_id,hadm_id,chartdate,charttime,spec_itemid,spec_type_desc,org_itemid,
                         org_name,isolate_num,ab_itemid,ab_name,dilution_text,dilution_comparison,
                         dilution_value,interpretation)
                 VALUES  (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) '''
cursor = con.cursor()
for i in range(0, len(df)):
    row = int(df.loc[i, 'row_id'])
    subj = int(df.loc[i, 'subject_id'])
    hadm = int(df.loc[i, 'hadm_id'])
    chd = df.loc[i, 'chartdate']
    cht = df.loc[i, 'charttime']
    sit = int(df.loc[i, 'spec_itemid'])
    std = df.loc[i, 'spec_type_desc']
    ogi = int(df.loc[i, 'org_itemid'])
    agn = df.loc[i, 'org_name']
    isn = int(df.loc[i, 'isolate_num'])
    abi = int(df.loc[i, 'ab_itemid'])
    abn = df.loc[i, 'ab_name']
    dlt = df.loc[i, 'dilution_text']
    dic = df.loc[i, 'dilution_comparison']
    div = float(df.loc[i, 'dilution_value'])
    itp = df.loc[i, 'interpretation']
    reg_s = (row, subj, hadm, chd, cht, sit, std, ogi, agn, isn, abi, abn, dlt, dic, div, itp)
    cursor.execute(sql_insert, reg_s)
#cursor.fetchone()

### Confirma la inserción de los registros a la BD

In [6]:
con.commit()

### Cierra el cursor y la conexión a la BD

In [7]:
cursor.close()
con.close()