In [1]:
import pymysql
import requests
import pandas as pd
import numpy as np

### Se conecta con la BD MySQL AWS

In [2]:
con = pymysql.connect(
      host='database-proyecto-final.cpjrl88bhdul.us-east-1.rds.amazonaws.com',
      database='databaseuci',
      user='admin',
      password='datascience'
)

### Genera un df con el archivo `csv` "DATETIMEEVENTS"

In [3]:
df = pd.read_csv('C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\DATETIMEEVENTS.csv', encoding='UTF-8', delimiter=',', decimal='.')
df.head(3)

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valueuom,warning,error,resultstatus,stopped
0,208474,10076,198503,201006.0,5684,2107-03-25 04:00:00,2107-03-25 04:34:00,20482,2107-03-24 00:00:00,Date,NaN,NaN,NaN,NotStopd
1,208475,10076,198503,201006.0,5684,2107-03-25 07:00:00,2107-03-25 07:06:00,15004,2107-03-24 00:00:00,Date,NaN,NaN,NaN,NotStopd
2,208836,10076,198503,201006.0,5684,2107-03-26 04:00:00,2107-03-26 05:31:00,20834,2107-03-24 00:00:00,Date,NaN,NaN,NaN,NotStopd

In [15]:
df = df.replace(np.nan, 0)

### Inserta los registros del df "DATETIMEEVENTS" en la BD

In [16]:
sql_insert = ''' INSERT 
                   INTO  DATETIMEVENTS
                         (row_id, subject_id, hadm_id, icustay_id, itemid, charttime, storetime, cgid, value, valueuom,
                          warning, error, resultstatus, stopped)
                 VALUES  (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) '''
cursor = con.cursor()
for i in range(0, len(df)):
    row = int(df.loc[i, 'row_id'])
    subj = int(df.loc[i, 'subject_id'])
    hadm = int(df.loc[i, 'hadm_id'])
    icus = int(df.loc[i, 'icustay_id'])
    itid = int(df.loc[i, 'itemid'])
    chtm = df.loc[i, 'charttime']
    srtm = df.loc[i, 'storetime']
    cgid = int(df.loc[i, 'cgid'])
    valu = df.loc[i, 'value']
    valm = df.loc[i, 'valueuom']
    warn = int(df.loc[i, 'warning'])
    erro = int(df.loc[i, 'error'])
    rest = df.loc[i, 'resultstatus']
    stop = df.loc[i, 'stopped']
    reg_s = (row, subj, hadm, icus, itid, chtm, srtm, cgid, valu, valm, warn, erro, rest, stop)
    cursor.execute(sql_insert, reg_s)

### Confirma la inserci√≥n de los registros a la BD

In [17]:
con.commit()

### Cierra el cursor y la conexion a la BD

In [18]:
cursor.close()
con.close()