In [11]:
import pymysql
import requests
import pandas as pd
import numpy as np

### Genera un df con el archivo csv "INPUTEVENTS_CV"

In [13]:
df = pd.read_csv('C:\\Users\\cfari\OneDrive\\Escritorio\\PF_GRUPAL\\DATASET\\INPUTEVENTS_CV.csv', encoding='UTF-8', delimiter=',', decimal='.')
df.head(3)

C:\Users\cfari\AppData\Local\Temp\ipykernel_24632\631550117.py:1: DtypeWarning: Columns (17,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:\\Users\\cfari\OneDrive\\Escritorio\\PF_GRUPAL\\DATASET\\INPUTEVENTS_CV.csv', encoding='UTF-8', delimiter=',', decimal='.')

,row_id,subject_id,hadm_id,icustay_id,charttime,itemid,amount,amountuom,rate,rateuom,...,orderid,linkorderid,stopped,newbottle,originalamount,originalamountuom,originalroute,originalrate,originalrateuom,originalsite
0,1184,10114,167957,234989,2171-11-03 15:00:00,30056,400.0,ml,NaN,NaN,...,2557279,2557279,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
1,1185,10114,167957,234989,2171-11-03 20:00:00,30056,120.0,ml,NaN,NaN,...,7828849,2557279,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
2,1186,10114,167957,234989,2171-11-03 23:00:00,30056,120.0,ml,NaN,NaN,...,2744159,2557279,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN

In [14]:
df = df.replace(np.nan, 0)

### Se conecta con la BD MySQL

In [ ]:
con = pymysql.connect(
      host='database-proyecto-final.cpjrl88bhdul.us-east-1.rds.amazonaws.com',
      database='databaseuci',
      user='admin',
      password='datascience'
)

### Inserta los registros del df "INPUTEVENTS_CV" en la BD

In [15]:
sql_insert = ''' INSERT 
                   INTO  INPUTEVENTS_CV
                         (row_id,subject_id,hadm_id,icustay_id,charttime,itemid,amount,amountuom,
                         rate,rateuom,storetime,cgid,orderid,linkorderid,stopped,newbottle,
                         originalamount,originalamountuom,originalroute,originalrate,
                         originalrateuom,originalsite)
                 VALUES  (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) '''
cursor = con.cursor()
for i in range(0, len(df)):
    row = int(df.loc[i, 'row_id'])
    subj = int(df.loc[i, 'subject_id'])
    hadm = int(df.loc[i, 'hadm_id'])
    icus = int(df.loc[i, 'icustay_id'])
    cht = df.loc[i, 'charttime']
    itd = int(df.loc[i, 'itemid'])
    amt = float(df.loc[i, 'amount'])
    amm = df.loc[i, 'amountuom']
    rat = float(df.loc[i, 'rate'])
    rtm = df.loc[i, 'rateuom']
    stm = df.loc[i, 'storetime']
    cgi = int(df.loc[i, 'cgid'])
    oid = int(df.loc[i, 'orderid'])
    lkd = int(df.loc[i, 'linkorderid'])
    stp = df.loc[i, 'stopped']
    nbt = int(df.loc[i, 'newbottle'])
    ogm = float(df.loc[i, 'originalamount'])
    ogu = df.loc[i, 'originalamountuom']
    ogr = df.loc[i, 'originalroute']
    oge = float(df.loc[i, 'originalrate'])
    ogt = df.loc[i, 'originalrateuom']
    ogs = df.loc[i, 'originalsite']
    reg_s = (row, subj, hadm, icus, cht, itd, amt, amm, rat, rtm, stm, cgi, oid, lkd, stp, nbt, ogm, ogu, ogr,oge,ogt,ogs)
    cursor.execute(sql_insert, reg_s)
#cursor.fetchone()

### Confirma la inserción de los registros a la BD

In [16]:
con.commit()

### Cierra el cursor y la conexion a la BD

In [17]:
cursor.close()
con.close()